<!DOCTYPE html>
<html>

<head>
    <title>nodejs practice</title>
    <script>
        function button1_click() {
            alert('alert버튼을 클릭하셨습니다!');
        }
        window.onload = function () {
            if ('<%= type %>' === 'all') {
                let itemInfo = '아이템 정보 : ' + '<%= data[0] %>' + '입니다.';
                let userInfo = '유저 정보 : ' + '<%= data[1] %>' + '입니다.';
                document.getElementById("i").innerHTML = itemInfo;
                document.getElementById("u").innerHTML = userInfo;
            } else if ('<%= type %>' === 'items') {
                let itemInfo = '아이템 정보 : ' + '<%= data %>' + '입니다.';
                document.getElementById("i").innerHTML = itemInfo;
            } else if ('<%= type %>' === 'users') {
                let userInfo = '유저 정보 : ' + '<%= data %>' + '입니다.';
                document.getElementById("u").innerHTML = userInfo;
            }
        };
    </script>
</head>

<body>
    <p>유대혁</p>
    <h2 id = "i"></h2>
    <h2 id = "u"></h2>
    
    <button id="button1" onclick="button1_click();">alert버튼</button>
    <br>
    <br>
    <form action="/" method="get">
        <button type="submit">/ url get요청</button>
    </form>
    <br>
    <form action="/items" method="get">
        <button type="submit">items url get요청</button>
    </form>
    <br>
    <form action="/users" method="get">
        <button type="submit">user url get요청</button>
    </form>

</body>

</html>